    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Loja Delivery</h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Loja Delivery</li>
                </ol>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Produtos Disponíveis</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Nome</th>
                          <th>Descrição</th>
                          <th>Preço</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let product of products">
                          <td>{{product.id}}</td>
                          <td>{{product.name}}</td>
                          <td>{{product.details}}</td>
                          <td>{{product.price}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Encomendas</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Cliente</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let cart of carts">
                            <td>{{cart.id}}</td>
                            <td>{{cart.idUser}}</td>
                            <td><span class="badge bg-danger">Pedido Realizado</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Produtos Vendidos</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <table class="table">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Encomenda</th>
                          <th>Produto</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let order of orders">
                          <td>{{order.id}}</td>
                          <td>{{order.idCart}}</td>
                          <td>{{order.idProduct}}</td>
                          <!-- <td > <span class="badge badge-success">{{order.status}}</span></td> -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Clientes</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <table class="table">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Nome</th>
                          <th>Email</th>
                          <th>Endereço</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of users">
                          <td>{{user.id}}</td>
                          <td>{{user.name}}</td>
                          <td>{{user.mail}}</td>
                          <td>{{user.address}}</td>
                          <!-- <td > <span class="badge badge-success">{{order.status}}</span></td> -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
