<div>
    <h3>Adicionar Novo Produto</h3>
  </div>
  <form class="example-container" [formGroup]="productForm" (ngSubmit)="addProduct(productForm.value)">
    <mat-form-field>
      <input matInput name="name" placeholder="Nome do Produto" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <textarea  matInput name="details" placeholder="Descrição do Produto" formControlName="details"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="price" placeholder="Preço do Produto" formControlName="price">
    </mat-form-field>
  
    <button type="submit" [disabled]="!productForm.valid" mat-button color="primary" >Adicionar</button>
  </form>